*{margin: 0; padding: 0;}
.header-main{
    background-image: url(header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 597px;
    width: 100%;

}
.left{
    float: left;
    width: 545px;
    height: 300px;
    margin-left: 253px;
    margin-top: 128px;
    font-size: 32px;
}
.name{
    color: red;

}
.left p{
    margin-top: 31px;
}
.button{
    margin-left: 60px;
    margin-top: 30px;
    padding: 14px 24px;
    background: linear-gradient(45deg, #feee00, #bea223);
    border-radius: 25px;
    box-shadow: inset 0 0 8px black;
    border: 5px solid transparent;
  
}
.button a{
    text-decoration: none;
}
.right{
    float: right;
    margin-right: 20px;
}

#body{
    background-image: url(biography-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 659px;
    width: 100%;
    clear: both;
    
}
.body-right{
    float: right;
    width: 401px;
    height: 200px;
    margin: 175px 171px 1px 1px;
}
.body-right p{
 margin-top: 31px;
}
.body-right h1{
    font-size: 32px;
}
.body-left{
    float: left;
    margin-left: 101px;
}*{margin: 0; padding: 0;}
.header-main{
    background-image: url(header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 595px;
    width: 100%;
}
.left{
    float: left;
    width: 545px;
    height: 300px;
    margin-left: 253px;
    margin-top: 128px;
    font-size: 32px;
}
#name{
    color: red;

}
.left p{
    margin-top: 31px;
}
.button{
    margin-left: 60px;
    margin-top: 30px;
    padding: 14px 24px;
    background: linear-gradient(45deg, #feee00, #bea223);
    border-radius: 25px;
    box-shadow: inset 0 0 8px black;
    border: 5px solid transparent;
  
}
.button a{
    text-decoration: none;
}
.right{
    float: right;
    margin-right: 20px;
}

#body{
    background-image: url(biography-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 695px;
    width: 100%;
    clear: both;
}
.body-right{
    float: right;
    width: 401px;
    height: 300px;
    margin: 260px 171px 1px 1px;
}
.body-right p{
 margin-top: 31px;
}
.body-right h1{
    font-size: 32px;
}
.body-left{
    float: left;
    margin-left: 101px;
    margin-top: 101px;
}
#work{
    height: 500px;
    width: 100%;
    background-image: url(latest-work-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    clear: both;
}
.letest-work img{float: left;height: 251px;width: 338px;margin: 24px;}
.letest-work{
    margin: 34px 0 0 202px;
}
#work h1{/* font-weight: bold; */font-size: 47px;}

#footer{
    background-image: url(footer-bg.png);
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    clear: both;
    text-align: center;
}
#footer h2{
    
margin: 27px;
}

div#email {
    /* height: 100px; */
    text-align: center center;
    background-image: linear-gradient(130deg,#c71585, rgb(85, 85, 206));
    padding: 35px;
    border-radius: 10px;
    color: #fefefe;
    width: 30%;
    margin: 52px auto;
}

